*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 100px;
}
.submit-area{
    padding: 50px;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.459);
    border-radius: 15px;
}
#account-area{
    display: none;
}
.deposit{
    background: rgb(247, 137, 161);
}
.withdraw{
    background: rgb(213, 133, 250);
}
.balance{
    background:rgb(229, 114, 252);
}
.statas{
    border-radius: 10px;
    margin: 0px 15px;
    color: #fff;
    padding: 20px;
}